<ion-header>
  <div class="">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="backToLogin()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><b>sign</b><span class="o-5">up</span></ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content text-center class="vertical-align-content">
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <div class="sign-section panel no-sh">
    <ion-list class="w-full p-10">
      <ion-input [(ngModel)]="firstname" placeholder="Firstname" type="text" class="mb-10"></ion-input>
      <ion-input [(ngModel)]="lastname" placeholder="Lastname" type="text" class="mb-10"></ion-input>
      <ion-input [(ngModel)]="email" placeholder="E-mail" type="email" class="mb-10"></ion-input>
      <ion-input [(ngModel)]="password" placeholder="Password" type="password" class="mb-10"></ion-input>
      <ion-input [(ngModel)]="password2" placeholder="Password again" type="password" class="mb-10"></ion-input>
      <ion-item lines="none" class="mb-10">
        <ion-label>Who are you?</ion-label>
        <ion-select placeholder="- Select -" [(ngModel)]="role"> 
          <ion-select-option value="Researcher">Researcher</ion-select-option>
          <ion-select-option value="Doctor">Doctor</ion-select-option>
          <ion-select-option value="User">User</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" class="mb-50 round" (click)="signUp()">Sign up</ion-button>
    </ion-list>
  </div>
</ion-content>
