<ion-header class="mb-50">
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="openNav()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><b>cloud</b><span class="o-5">records</span></ion-title>
    </ion-toolbar>
  </div>

  <div class="toolbar-menu">
    <ion-segment value="all" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="all">
        <ion-icon name="globe" class="small-icon"></ion-icon>
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="personal">
        <ion-icon name="person" class="small-icon"></ion-icon>
        <ion-label>Personal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="library">
        <ion-icon name="bookmark" class="small-icon"></ion-icon>
        <ion-label>Library</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-progress-bar type="indeterminate" *ngIf="cloudService.loadingRecords"></ion-progress-bar>

  <!-- ALL -->

  <ion-list *ngIf="currentSegment == 'all'">
    <div class="panel" *ngFor="let record of getAllRecords()">
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-label>
            <ion-text>
              <ion-text color="primary">
                <b>{{ record.name }}</b>
              </ion-text>
            </ion-text>
            <br>
            <ion-text color="medium">
              <ion-icon name="person" class="mr-5 xs-icon"></ion-icon>
              <small>
                {{ record.user.firstname + ' ' + record.user.lastname }}
                {{ record.user.uid == authService.authUser.uid ? '(You)' : '' }}
              </small>
            </ion-text>
            <br>
            <ion-text color="medium">
              <ion-icon name="calendar" class="mr-5 xs-icon"></ion-icon>
              <small>{{ record.dateStart | date }} | </small>
              <ion-icon name="time" class="mr-5 xs-icon"></ion-icon>
              <small>{{ record.getFormatedTime() }}</small>
            </ion-text>
          </ion-label>
          <ion-icon name="pulse" slot="start" color="primary"></ion-icon>
          <ion-text color="medium" slot="end"><small>Slide</small></ion-text>
          <ion-icon name="caret-back" slot="end" color="medium" class="small-icon"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="openRecord(record)">
            <ion-icon name="open" color="white" class="mr-5"></ion-icon>
            Open
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-item lines="none">
      <ion-text slot="end" color="medium">
        <small>Found {{ allCount }} records.</small>
      </ion-text>
    </ion-item>
  </ion-list>

  <!-- PERSONAL -->

  <ion-list *ngIf="currentSegment == 'personal'">
    <div class="panel" *ngFor="let record of getPersonalRecords()">
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-label>
            <ion-text>
              <ion-text color="primary">
                <ion-icon [name]="record.isPrivate ? 'cloud-outline' : 'cloud'" class="mr-5 xs-icon" color="primary"></ion-icon>
                <b>{{ record.name }}</b>
              </ion-text>
            </ion-text>
            <br>
            <ion-text color="medium">
              <ion-icon name="person" class="mr-5 xs-icon"></ion-icon>
              <small>
                {{ record.user.firstname + ' ' + record.user.lastname }}
              </small>
            </ion-text>
            <br>
            <ion-text color="medium">
              <ion-icon name="calendar" class="mr-5 xs-icon"></ion-icon>
              <small>{{ record.dateStart | date }} | </small>
              <ion-icon name="time" class="mr-5 xs-icon"></ion-icon>
              <small>{{ record.getFormatedTime() }}</small>
            </ion-text>
          </ion-label>
          <ion-icon name="pulse" slot="start" color="primary"></ion-icon>
          <ion-text color="medium" slot="end"><small>Slide</small></ion-text>
          <ion-icon name="caret-back" slot="end" color="medium" class="small-icon"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="openRecord(record)">
            <ion-icon name="open" color="white" class="mr-5"></ion-icon>
            Open
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteRecord(record)">
            <ion-icon name="trash" class="mr-5"></ion-icon>
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-item lines="none">
      <ion-text slot="end" color="medium">
        <small>Found {{ personalCount }} records.</small>
      </ion-text>
    </ion-item>
  </ion-list>

  <!-- LIBRARY -->

  <ion-list *ngIf="currentSegment == 'library'">
    <div class="panel" *ngFor="let record of getLibRecords()">
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-label>
            <ion-text>
              <ion-text color="primary">
                <b>{{ record.name }}</b>
              </ion-text>
            </ion-text>
            <br>
            <ion-text color="medium">
              <ion-icon name="person" class="mr-5 xs-icon"></ion-icon>
              <small>
                {{ record.user.firstname + ' ' + record.user.lastname }}
              </small>
            </ion-text>
            <br>
            <ion-text color="medium">
              <ion-icon name="calendar" class="mr-5 xs-icon"></ion-icon>
              <small>{{ record.dateStart | date }} | </small>
              <ion-icon name="time" class="mr-5 xs-icon"></ion-icon>
              <small>{{ record.getFormatedTime() }}</small>
            </ion-text>
          </ion-label>
          <ion-icon name="pulse" slot="start" color="primary"></ion-icon>
          <ion-text color="medium" slot="end"><small>Slide</small></ion-text>
          <ion-icon name="caret-back" slot="end" color="medium" class="small-icon"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="openRecord(record)">
            <ion-icon name="open" color="white" class="mr-5"></ion-icon>
            Open
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-item lines="none">
      <ion-text slot="end" color="medium">
        <small>Found {{ libCount }} records.</small>
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>
